body {
margin: 0;
font-size: 16px;
line-height: 22px;
color: 283136;
font-weight: normal; 
font-style: normal;
font-family: "Roboto";   

}

h1 {
font-size: 36px;
line-height: 36px;
color: 000000;
font-weight: normal; 
font-style: normal;
font-family: "Roboto";      
}

h2 {
font-size: 36px;
line-height: 36px;
font-weight: normal; 
color: 000000;
font-style: normal;
font-family: "Roboto";       
}

.main-header {
    background-color: #eeeeee;
    margin-bottom: 80px;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}
.container {
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: beige ;
}
.main-logo {
    float:left;
    background-color: bisque;
    height: 56px;
}

ul li {
    list-style-type:none;
    display: inline;
}

.main-menu {
    float: right;
    background-color: bisque;
}

.slider {
    width: 880px;
    margin-top: 54px;
    padding-bottom: 80px;
   
    background-color: bisque;
}

.content {
    background-color: white;
}

.features-item {
    width: 240px;
    float: left;
    margin-right: 80px;
    background-color: yellow;
}

.features {
    margin-bottom: 80px;
    
}

.features-item:last-child {
    margin-right: 0;
}

.info {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    padding-bottom: 72px;
    padding-top: 68px;
    
}

.content-column-left {
    width: 621px;
    float: left;
    background-color: darkcyan;
}

.content-column-right {
    width: 240px;
    float: right;
    background-color: cyan;
}

.partners {
    border-bottom: 2px solid red;
    padding-top: 45px;
    padding-bottom: 31px; 
    margin-bottom: 85px;
}

.partners-item {
    margin-right: 80px;
    float: left;
    width: 240px;
    background-color: antiquewhite;
}

.partners-item:last-child {
    margin-right: 0;
}

.map {
    width: 1199px;
    margin: 0 auto;
    background-color: chartreuse;
}

.main-footer {
    background-color: ;
}

.footer-social {
    float: left;
    background-color: darkslategray;
}

.footer-friendship {
    float: right;
    background-color: aquamarine;
}

.footer {
    padding-top: 75px;
    padding-bottom: 72px;
}

