body {
margin: 0;
min-width: 1200px;
font-size: 12px;
line-height: 18px;
color: #283136;
font-weight: normal; 
font-style: normal;
font-family: "Roboto", "Arial", sans-serif;   

}

h1 {
    font-size: 40px;
    line-height: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;    
    color: #000000;
    font-weight: normal; 
    font-style: normal;
    font-family: "Roboto", "Arial", sans-serif;      
}

h2 {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0; 
    font-weight: normal; 
    color: #000000;
    font-style: normal;
    font-family: "Roboto", "Arial", sans-serif;       
}

h3 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

ul, li, p {
    margin: 0;
    padding: 0;
}

/* Распорка */
.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

/* Контейнер центровки */
.container {
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: beige ;
}

/* Шапка */
.main-header {
    background-color: #eeeeee;
    margin-bottom: 80px;
    margin-top: 27px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}

.main-logo {
    float:left;
    background-color: #eeeeee;
    width: 139px;
    height: 56px;
}

.main-menu {
    float: right;
    padding: 0;
    margin: 0;
    width: 660px;
    background-color: #eeeeee;
}

.main-menu ul {
    float: right;
    padding-top: 21px;
    font-size: 0;
    list-style-type:none; 
    background-color: chartreuse;    
}

.main-menu li {
    vertical-align: top;
    display: inline-block;
    padding-right: 46px;
    font-size: 14px;
    line-height: 30px;
}

.main-menu li:last-child {
    padding-right: 0px;             /* почему с ли работает, а с ул нет ? */
}

.welcome-title {
  clear: both;    
}

.welcome-title h1 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 84px;
}



/* Сортировка по */
.sorting-item ul {
display: inline-block;
width: 560px;
margin-bottom: 21px;
padding-left: 0px;
padding-left: 0px;
background-color: chartreuse;    
}



.sorting-item li {
    padding-right: 46px;
    display: inline-block;
    list-style-type:none;
}

/* Фильтры */

.maket {
    width: 240px;
    height: 132px;
    background-color: cornflowerblue;
}

.filters {
    width: 240px;
    background-color: aquamarine;
    float: left;
}

.price-filter {
    width: 240px;
    margin-bottom: 41px;
}

.price-filter h3 {
    margin-bottom: 10px;
}


.radio-filter {
    width: 240px;
    margin-bottom: 39px;
}

.radio-filter h3 {
    margin-bottom: 9px;
}

.checkbox-filter {
    width: 240px;
}

.checkbox-filter h3 {
    margin-bottom: 10px;
}


label input {
   margin-bottom: 17px;  /* Отступ между инпутами! */
}

.filters form {
    font-size: 16px;
    line-height: 20px;
    
}

.filters h3 {
    font-size: 18px;
    line-height: 30px;
}

form button {
    width: 156px;
    height: 38px;
    margin-top: 57px;
    font-size: 12px;
    line-height: 18px;
    background-color: #f1f1f1;
    border-radius: 3px;
    border: 0px;
}

/* Каталог */
.catalog-items {
    width: 560px;
    float:right;
    background-color: cadetblue;
}

.border-img {
   
    width: 240px;
    height: 30px;
    background-color: #f1f1f1;
    margin-top: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

.border-img ul {
    padding-top: 8px;
    padding-left: 12px;
}

.border-img li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    border-radius: 50%;               
    background-color: white;
    list-style-type:none;
}

.popup-block {
    display: none;
    font-size: 14px;
    line-height: 18px;
    color: #283136;
    position:absolute;
    width: 200px;
    top: 50px;
    left: 20px;
    height: 200px;                        /*спрятал попап  нужно зацентровать! Абсолюьно спозиционарован от catalog-item */
    
    background-color: white;
}

.popup-block h3 {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-align: center;
    margin-top: 37px;
    margin-bottom: 16px;
}

.popup-block p {
    margin-bottom: 28px;
    text-align: center;
}

.popup-block div {
    margin: 0 auto;
    padding-top: 10px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    width: 140px;
    height: 28px;
    background-color: #fb565a;
}

.catalog-item {
    width: 240px;
    float: left;
    position: relative;
    margin-right: 80px;
    padding-bottom: 80px;
   
    background-color: cornflowerblue;
}

.catalog-item:nth-child(even) {
    margin-right: 0;
}

/* Страницы */
.pages {
    padding-bottom: 79px;
    background-color: chartreuse;
    clear: both;
}

.pages ul {
    padding-left: 0px;
    list-style-type:none;
}

.pages li {
    display: inline-block;
    margin-right: 10px; 
    
}

.pages-btn {
    width: 35px;
    height: 27px;
    text-align: center;
    padding-top: 8px;
    background-color: #f1f1f1;  /* Это кнопки или ссылки ? */
    border: 3px solid #f1f1f1 ;
    border-radius: 3px;
    
}

.current-btn {
    background-color: #ffffff;
}

.btn-next {
    width: 140px;
}

/* Карта */
.map {
    width: 1200px;
    height: 416px;
    margin: 0 auto;
    margin-bottom: 78px;
    background-color: chartreuse;
}

.map img {
    width: 1200px;
    height: 416px;
}

.main-footer {
    font-size: 16px;
    line-height: 22px;
}

.footer-social {
    float: left;
    background-color: darkslategray;
}

.footer-friendship {
    float: right;
    background-color: aquamarine;
}

.footer-friendship h2 {
    margin-bottom: 7px;
}

.footer {
    
    padding-bottom: 76px;
}

